.version-text {
    padding-bottom: 0.5em;
    padding-right: 2em;
    color: gray;
    font-size: 1rem;
    text-align: end;
    position: relative;
    margin-top: auto;
}

.version-text > p {
    display: inline;
    margin-right: 0.5em;
}

.ui.container.version-text {
    display: block;
    flex: none;
}

.notification {
    position: absolute;
    width: 100%;
    bottom: 0;
    float: right;
}

.successNotification {
    background-color: forestgreen;
}

.errorNotification {
    background-color: darkred;
}

.notificationText {
    width: 100%;
    text-align: center;
    font-size: 1.5rem;
    color: white;
}

@media all and (display-mode: standalone) {
    .notification {
        padding-bottom: 1em;
    }
}
